mixin video(변수)
    div 
        h4
            a(href=`/videos/${변수.id}`)=변수.title 
            p=변수.descripton
            ul 
                each hashtags in 변수.hashtags
                    li=hashtags
            small=변수.createdAt 
            hr  
            
