extends base.pug

block content
    if errorMessage
        span=errorMessage
    form(method="POST",)
        input(placeholder="username",name="username", type="text", required)
        input(placeholder="password",name="password", type="password", required)
        input(type="Submit", value="Login")
        include partials/social-login
    div.auth-switch
        span 이미 계정이 없으셈?? 
        a(href="/join") 계정을 만드셈&rarr;