extends base.pug
include mixins/video
block content
    form(method="GET")
        input(placeholder="serch by title", type="text", name="keyword")
        input(type="submit", value="search Now")
    each video in videos
        +video(video)