extends base.pug

block content 
    if errormessage 
        span=errormessage
    form(method="POST",enctype="multipart/form-data")
        label(for="videoFile") Video File 
        input(type="file", name="videoFile",accept="video/*",required,)
        input(type="text", name="title", placeholder="Title", required, minLength = 1, maxlength= 100)
        input(type="text", name="description", placeholder="Description", required, )
        input(type="text", name="hashtags", placeholder="Hashtags seperated by comma.", required,minLength= 1,
        maxlength= 200,)
        input(value="save", type="submit")