extends ../base

block content 
    form(method="POST")
        input(placeholder="Old password", name="oldPassword", type = "password")
        input(placeholder="new password", name="newPassword", type = "password")
        input(placeholder="new password Confirmaton", name="newPasswordConfirm", type = "password")
        input(value="change password", type="submit")