extends ../base

block content 
    form (method="POST")
        input(placeholder="Old password")
        input(placeholder="new password")
        input(placeholder="new password Confirmaton")
        input(value="change password", type="submit")